.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 20px;
  margin-left: 28px;
  margin-right: 20px;
  cursor: pointer;
}
.youtube-logo {
  height: 20px;
  cursor: pointer;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  border: solid 1px rgb(190, 190, 190);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder {
  font-family: "Roboto", Arial;
  font-size: 16px;
}
.search-button {
  height: 39px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border: solid 1px rgb(190, 190, 190);
  margin-left: -1px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 10px;
  
}
.search-button,
.voice-search-button {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button .tooltip,
.voice-search-button .tooltip{
  position: absolute;
  background-color: rgba(93, 93, 93, 0.926);
  color: white;
  padding: 12px 8px;
  border-radius: 5px;
  font-size: 12px;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 24px;

}
.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
}
.voice-search-icon {
  height: 24px;
  width: 24px;
}
.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload-icon {
  height: 24px;
}
.youtube-apps-icon {
  height: 24px;
}
.notifications-icon {
  height: 24px;
}
.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  color: white;
  font-size: 11px;
  background-color: rgb(208, 0, 0);
  border-radius: 10px;
  padding: 2px 5px;
}
.current-user-picture {
  height: 32px;
  border-radius: 16px;
}
